%h1 Log in  
      
	= form_tag "/home" do   
		<div class="field">  
			= label_tag :email %>  
			= text_field_tag :email, params[:email] %>  
		</div>  
		<div class="field">  
			= label_tag :password   
			= password_field_tag :password   
		</div>  
		<div class="actions"> = submit_tag "Log in" </div>  
	 

  %h1 COMING SOON!
  -# This image has not been added yet to the repo 
  -# <img src="splash_page.png" alt="splash page"/> -->
