= form_for @lesson do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_field :body
-#must not leave the next two blank
  .prev
    = f.label :prev
    = f.text_field :prev
  .next
    = f.label :next
    = f.text_field :next
  .actions
    = f.submit 'Save'
