%p#notice= notice

%p
  %b Title:
  = @lesson.title
%p
  %b Body:
  = @lesson.body

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path

-# = link_to 'Prev', lesson_path(@lesson.prev)
-# 
-# = link_to 'Next', lesson_path(@lesson.next)
