!!!
%html
  %head
    %title TechpuenteApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #page
      %header.clearfix
        %h1
          %a{:href => "/"}
            = image_tag "techbridgelogo.png"
        
        #auth.clearfix
          - if current_user
            - if (current_user.admin)
              %p Hello admin, #{current_user.first_name}
            - else
              %p Hello, #{current_user.first_name}
            = button_to "Log Out", log_out_path, :method => 'get'
          - elsif not (current_page?(log_in_path) or current_page?(sign_up_path))
            = form_tag sessions_path do
              .field
                = label_tag :email
                = text_field_tag :email, params[:email]
              .field
                = label_tag :password
                = password_field_tag :password
              = submit_tag "Log in", :class => "btn btn-info"
            = link_to "Sign Up", sign_up_path, :class => "btn btn-link"

        %nav#main-navigation.clearfix
          %ul
            %li
              %a{:href => "/"} About
            %li
              %a{:href => "/"} Contact


      - flash.each do |name, msg|
        = content_tag :div, msg, :id =>"flash#{name}"

      = yield
      %footer
        Copyright blahblah
