!!!
%html
  %head
    %title TechpuenteApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
      

    #page
      %header.cf
        %h1
          %a{:href => "/"}
            %img{:alt => "Techbridge", :src => "techbridgelogo.png"}/
        
        #auth.cf
          - if current_user
            %p Hello, #{current_user.email}
            = button_to "Log Out", log_out_path, :method => "get"
          - elsif current_page?(:controller => 'lessons', :action => 'index')
            = form_tag sessions_path do
              .field
                = label_tag :email
                = text_field_tag :email, params[:email]
              .field
                = label_tag :password
                = password_field_tag :password
              = submit_tag "Log in"
            = link_to "Sign Up", sign_up_path 
        %nav#main-navigation.cf
          %ul
            -# %li
            -#   %a{:href => lessons_path} Lessons
            -# %li
            -#   %a{:href => "/"} About
            %li
              %a{:href => "/"} Contact
            %li
              %a{:href => "/"} Account

      - flash.each do |name, msg|
        = content_tag :div, msg, :id =>"flash#{name}"

      = yield
      %footer
        Copyright blahblah
