<!DOCTYPE html>
<html>
    <head>
        <title>TechpuenteApp</title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div id="page">
            <header class="cf">
            <h1>
                <a href="/">
                  <%= image_tag("techbridgelogo.png") %>
                </a>
            </h1>
            <nav id="main-navigation">
            <ul>
                <li><a href="/">Contact</a></li>
                <li><a href="/">Account</a></li>
            </ul>
            </nav>
            </header>
            <%= yield %>
            <footer>
            Copyright blahblah
            </footer>
        </div>
    </body>
</html>
